name: Databricks Bundle Deployment
run-name: "${{ github.event_name }}"

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]
  push:
    branches:
    - 'main'
    - 'feature/*'

jobs:
  run_tests:
    name: "Run tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry uv

      - name: Install dependencies (including dev)
        env:
          POETRY_VIRTUALENVS_IN_PROJECT: true
        run: |
          poetry install --with dev

      - name: Run tests
        run: |
          poetry run pytest tests/
        env:
          DATABRICKS_HOST: "${{ vars.DATABRICKS_HOST }}"
          DATABRICKS_TOKEN: "${{ secrets.DATABRICKS_TOKEN }}"
          DATABRICKS_SERVERLESS_COMPUTE_ID: "auto"
          CI: "true"

  deploy_bundle:
    name: "Deploy bundle"
    runs-on: ubuntu-latest

    needs:
      - run_tests

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - uses: databricks/setup-cli@main

      - run: |
          databricks bundle deploy --var cluster_id="${{ secrets.DATABRICKS_CLUSTER_ID }}" --var warehouse_id="${{ secrets.DATABRICKS_WAREHOUSE_ID }}"
        working-directory: .
        env:
          DATABRICKS_HOST: "${{ vars.DATABRICKS_HOST }}"
          DATABRICKS_TOKEN: "${{ secrets.DATABRICKS_TOKEN }}"
          DATABRICKS_SERVERLESS_COMPUTE_ID: "auto"
